body {
    // font-family: 'Roboto', sans-serif;
    // font-family: 'Ubuntu', sans-serif;
    // font-family: "Bona Nova SC";

    
    
    // font-family: "Tiimes New Roman";
    
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    // font-family: 'Bona Nova SC', serif;
    color: magenta;
    font-family: "Ubuntu";
}